.wrapper {
  display: grid;
  grid-template-areas:
    'navbar header header'
    'navbar main main'
    'navbar footer footer';
  grid-template-columns: 250px 1fr;
  grid-template-rows: 1fr;
  max-height: calc(100vh + 100px);
}
.header {
  grid-area: header;
  z-index: 2;
  /* border-bottom: 1px solid #d1d1d3; */
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  align-items: center;
  justify-content: end;
  /* background-color: #e5e7eb; */
}

.navbar {
  grid-area: navbar;
  /* border-right: 1px solid #d1d1d3; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.main {
  grid-area: main;
  height: 100vh;
  overflow: auto;
  background-color: #e5e7eb;
}

.footer {
  grid-area: footer;
  /* border-top: 1px solid #d1d1d3; */
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
